@tailwind base;
@tailwind components;
@tailwind utilities;

.bubble {
  --r: 25px; /* the radius */
  --t: 30px; /* the size of the tail */
  
  max-width: 60%;
  padding: 8px;
  -webkit-mask: 
  radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%)  
    var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
  conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
    calc(var(--r)/-2) calc(var(--r)/-2) padding-box,  
  radial-gradient(closest-side at 50% 50%,#000 98%,#0000 101%) 
    0 0/var(--r) var(--r) space padding-box;
}

.left {
  --_d: 0%;
  border-left: var(--t) solid #0000;
  margin-right: var(--t);
  place-self: start;
}

.right {
  --_d: 100%;
  border-right: var(--t) solid #0000;
  margin-left: var(--t);
  place-self: end;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #818cf8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6366f1;
  cursor: pointer;
}

button:hover .coming-soon {
  display: block;
}

.coming-soon {
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}